@import '../../../styles/_variables.scss';

.main{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 80px 0px;


}
.redefinicao{
    height: auto;
    width: 90% auto;
    max-width: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 4px 14px rgba(34, 40, 49, 0.08);
    border: 1px solid black;
    border-radius: 15px;
    padding: 28px 22px;
        

     &__container-texto{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 10px;
        font-size: $font-size-small;
        

        &__titulo{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:$font-size-title-md;
        
        
        }
        
     }


     &__container-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        gap: 20px;

        &__input{
            width:100%;
            height: 52px
        }
     }
        
        
     
     }
     @media (min-width: 480px) {
        .main{
            padding: 10px 0px;
        }
       .redefinicao{
        gap: 15px;
        &__container-texto{
            font-size: $font-size-body;
            width: 388px;

        &__titulo{
            font-size:$font-size-title-lg;
        }
    }
        &__container-form{
            gap: 30px;
            width: 374px;

                
            &__input{
            width: 374px;
            }
       }
    }
     }
    
