@import '../../../styles/_variables.scss';

.main{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 40px 0px;


}
.redefinicao{
    height: 355px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
        

     &__container-texto{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 10px;
        font-size: $font-size-small;
        

        &__titulo{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:$font-size-title-md;
        
        
        }
        
     }


     &__container-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        gap: 20px;

        &__input{
            width:90%;
            height: 52px
        }
     }
        
        
     
     }
     @media (min-width: 480px) {
       .redefinicao{
        gap: 15px;
        &__container-texto{
            font-size: $font-size-body;
            width: 388px;

        &__titulo{
            font-size:$font-size-title-lg;
        }
    }
        &__container-form{
            gap: 30px;

                
            &__input{
            width: 374px;
            }
       }
    }
     }
    
