body {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main {
    position: absolute;
    top: 10vh;
    padding: 22px 18px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__dados{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}