@import "../../../styles/_variables.scss";

.btn {
    padding: 0.8rem 6rem;
    min-width: 100%;
    border: none;
    border-radius: $border-radius-base;
    font-size: $font-size-body;
    font-weight: $font-weight-light;
    cursor: pointer;
    text-wrap: nowrap;


    &--primary {
        background-color: $button-primary-background;
        color: $text-color-light;

        &:hover {
            background-color: $button-primary-hover;
        }

    }

    &--alternative {
        background-color: $button-alternative-background;
        color: $text-color-primary;

        &:hover {
            background-color: $button-alternative-hover;
        }
    }

    &--danger {
        background-color: $button-danger-background;
        color: $text-color-light;

        &:hover {
            background-color: $button-danger-hover;
        }
    }

    &--medium {
        padding: 0.9rem 2.9rem;
        min-width: 13rem;
    }

    &--small {
        padding: 0.9rem 2.6rem;
        min-width: 10rem;
    }


}

@media (max-width: 480px) {
    .btn {
        min-width: 100%;
        border: none;
        border-radius: $border-radius-base;
        font-size: 1rem;
        font-weight: $font-weight-light;
        cursor: pointer;
        text-wrap: nowrap;


        &--primary {
            background-color: $button-primary-background;
            color: $text-color-light;

            &:hover {
                background-color: $button-primary-hover;
            }
        }

        &--small {
            // Reduza o padding lateral para economizar espaço
            padding: 0.9rem 1rem;

            // Reduza a largura mínima para que dois caibam lado a lado (8rem + 8rem = 16rem, sobra espaço)
            min-width: 8rem;

            // CRUCIAL: Sobrescreve o "min-width: 100%" da classe .btn principal
            width: auto;

            // DICA DE OURO: Isso faz os botões esticarem para preencher o espaço vazio igualmente
            flex: 1;

            // Garante centralização do texto se o botão esticar
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }


}