@import "../../../styles/variables";

.input-box{
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: 100%;
    height:46px;
    margin-bottom: 10px;   

    &__label{
        font-size: $font-size-small;
        text-align: start;
        
    }

    &__input{
            padding: $padding-inputs;
            width: 100%;
            border: 1px solid $border-color;
            border-radius: $border-radius-base;
            outline: none;
            height:46px; 
    }
}
@media (min-width: 480px) {
    .input-box__label{
        font-size: $font-size-body;
    }
    
}