@import '../../../styles/variables.scss';

.feedMain {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    background-color: $background-color-page;
    padding: 25px 19px;
    margin-top: -1.5rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    position: relative;
    z-index: 100;

    &__box {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 90%;
        height: auto;
        gap: 15px;

        &__vagas{
            columns: 22.3rem;
            column-gap: 1rem;
            width: 100%;
            

        }

    }

    &__title {
        width: 100%;
        text-align: start;
    }

}