@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Libertinus+Serif+Display&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Paleta de cores - nomes genericos */
    --cor-primaria: #222831;
    --cor-cinza: #393E46;
    --cor-areia: #948979;
    --cor-bege: #DFD0B8;
    --cor-bege-claro: #EADAC2;
    --cor-branca: #FFFFFF;
    --cor-vermelha: #F85A57;
    --cor-vermelha-claro: #F0807E;

    /* --- Cores de Texto --- */
    --text-color-primary: var(--cor-primaria);
    --text-color-secondary: var(--cor-cinza);
    --text-color-light: var(--cor-branca);
    --text-color-danger: var(--cor-vermelha);

    /* --- Cores de Fundo --- */
    --background-color-page: var(--cor-branca);
    --background-color-card: var(--cor-branca);
    --background-color-dark: var(--cor-primaria);
    --background-color-input: var(--cor-branca);

    /* --- Cores de Botão --- */
    --button-primary-background: var(--cor-primaria);
    --button-primary-text: var(--cor-branca);
    --button-primary-hover: var(--cor-cinza);

    --button-alternative-background: var(--cor-bege);
    --button-alternative-text: var(--cor-primaria);
    --button-alternative-hover: var(--cor-bege-claro);

    --button-danger-background: var(--cor-vermelha);
    --button-danger-text: var(--cor-branca);
    --button-danger-hover: var(--cor-vermelha-claro);

    /* --- Cores de Formulário --- */
    --input-border-color: var(--cor-primaria);
    --input-text-color: var(--cor-primaria);
    --input-placeholder-color: var(--cor-cinza);

    /* --- Família da Fonte --- */
    --font-family-base: 'Roboto', sans-serif;

    /* --- Tamanhos de Fonte --- */
    --font-size-title-lg: 26px;
    --font-size-title-md: 20px;
    --font-size-body: 16px;
    --font-size-small: 12px;

    /* --- Pesos da Fonte (Font Weights) --- */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;

    /* --- TOKENS DE UNIDADES --- */
    --border-radius-base: 10px;
    --border-color: var(--cor-primaria);
    --padding-inputs: 8px 10px;
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

/* 
================================
    1. Componentes Genéricos 
================================
*/

/* 1.1 Botões */

.btn {
    /* Estilos base (Tamanho Padrão "default") */
    padding: 0.9rem 5rem;
    min-width: 20.5rem;
    border: none;
    border-radius: 10px;
    font-size: 100%;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
    text-align: center;

    /* Transição suave para o hover */
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}


/* --- Variantes de Cor --- */

.btn--primary {
    background-color: #222831; 
    color: #FFFFFF;
}

.btn--primary:hover {
    background-color: #393E46;
}

.btn--alternative {
    background-color: #DFD0B8;
    color: #222831;
}

.btn--alternative:hover {
    background-color: #EADAC2;
}

.btn--danger {
    background-color: #F85A57;
    color: #FFFFFF;
}

.btn--danger:hover {
    background-color: #F0807E;
}


/* --- Modificadores de Tamanho --- */

.btn--medium {
    padding: 0.9rem 2.9rem;
    min-width: 13rem;
}

.btn--small {
    padding: 0.9rem 2.6rem;
    min-width: 10rem;
}

.button--alt {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(223, 208, 184);
    color: rgb(0, 0, 0);
    font-size: 100%;
    border: none;
    cursor: pointer;
}

/* 1.2 Inputs */

.input-box {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.input-box__label {
    font-size: var(--font-size-body);
}

.input-box__input {
    padding: var(--padding-inputs);
    min-width: 22.3rem;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-base);
    font-family: var(--font-family-base);
    font-size: var(--font-size-body);
    color: var(--input-text-color);
    background-color: var(--background-color-input);
}

/* 1.3 Textearea */

.textarea {
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 22.3rem;
}

.textarea__label {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-body);
    color: var(--text-color-primary);
}

.textarea__input {
    /* width: 22.3rem; */
    padding: var(--padding-inputs);
    border-radius: var(--border-radius-base);
    border: 1px solid var(--border-color);
    resize: none;
    font-size: var(--font-size-body);
    font-family: var(--font-family-base);
    color: var(--input-text-color);
    background-color: var(--background-color-input);
}


/* 
================================
    2. Componentes de Layout
================================
*/

.page__header {
    width: 100%;
    padding: 28px 21px;
    position: relative;
    background-color: #222831;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap
}

.page__header img {
    width: 19px;
    margin-right: auto;
}

.page__header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-title-md);
}