
.main{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    margin-top: 50%;
    gap: 24px;
    
}

.btn--primary-full{
    background-color: #222831; 
    color: #FFFFFF;
    width: 85%;
    height: 50px;
}

.btn--primary-full:hover{
    background-color: #393E46;

}
.text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 22.3rem;
}
.text__senha{
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 17px;
}

.text__p{
    text-align: center;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.2rem;
    
}
    