@import '../../../styles/variables.scss';

// Lembrete pessoal: Conferir tudo novamente da parte de cards para deixar tudo como está na prototipação.

.job-card {
    padding: 15px;
    border: 1px solid $border-color;
    border-radius: $border-radius-base;
    width: 22.3rem;
    position: relative;
    cursor: pointer;

    &__state{
        position: absolute;
        right: 3.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        padding: 2% 10%;
        font-size: $font-size-small;
        border-radius: 1em;
        color: $cor-branca;
        
        
        &--open{

            display: none;
        }
        &--applied{
            background-color:$cor-primaria;
        }
        &--acepted{
            background-color: $cor-verde;
        }
        &--finalized{
            background-color:$cor-areia;
            
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__text{
            display: flex;
            flex-direction: column;
            gap: 3.5px;

        }

        &__toggle-icon {
            font-size: 50px;
            color: $text-color-primary;
        }
    }

    
    &__details{
        display: flex;
        flex-direction: column;
        gap: 13px;
        margin-top: 13px;

        .job-card__responsibilities {
            padding-left: 2rem;
            
            & li{
                list-style-type: disc;
            }
        }
    }


}